<%= hidden_field_tag :set_birthday_year, @set_birthday_year %>
<%= hidden_field_tag :set_birthday_month, @set_birthday_month %>
<%= hidden_field_tag :set_birthday_day, @set_birthday_day %>
<div class="row form-group">
  <div class="col-md-2 form-label"><%= form.label :sei, "姓" %></div>
  <div class="col-md-2"><%= form.text_field :sei, class: "form-control" %></div>
  <div class="col-md-2 form-label" style="width: 70px;"><%= form.label :mei, "名" %></div>
  <div class="col-md-2"><%= form.text_field :mei, class: "form-control" %></div>
  <div class="col-md-4"></div>
</div>
<div class="row form-group">
  <div class="col-md-2 form-label"><%= form.label :kana_sei, "セイ" %></div>
  <div class="col-md-2"><%= form.text_field :kana_sei, class: "form-control" %></div>
  <div class="col-md-2 form-label" style="width: 70px;"><%= form.label :kana_mei, "メイ" %></div>
  <div class="col-md-2"><%= form.text_field :kana_mei, class: "form-control" %></div>
  <div class="col-md-4"></div>
</div>
<div class="row form-group">
  <div class="col-md-2 form-label"><%= form.label :sex, "性別" %></div>
  <div class="col-md-2">
    <label class="checkbox-inline" style="padding: 0;"><%= form.radio_button :sex, 0 %>男</label>
    <label class="checkbox-inline" style="padding: 0;"><%= form.radio_button :sex, 1 %>女</label>
  </div>
  <div class="col-md-8"></div>
</div>
<div class="row form-group">
  <div class="col-md-2 form-label"><%= form.label :birthday, "生年月日" %></div>
  <div class="col-md-4">
    <%= form.date_select :birthday,
                         {start_year: 1930, end_year: Time.now.year,
                         use_month_numbers: true,
                         date_separator: '/',
                         include_blank: true},
                         {class: "form-control",
                         style: "display: inline-block; width: auto;"}
    %>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-2 form-label"><%= form.label :postal_code, "郵便番号" %></div>
  <div class="col-md-10" style="width: 110px;"><input type="tel" name="zip11" class="form-control" maxlength="7" value="<%= @client.postal_code %>" onKeyUp="AjaxZip3.zip2addr(this,'','addr11','addr11');"></div>
</div>
<div class="row form-group">
  <div class="col-md-2 form-label"><%= form.label :address, "住所" %></div>
  <div class="col-md-8"><input type="text" name="addr11" class="form-control" value="<%= @client.address %>" ></div>
</div>
<div class="row form-group">
  <div class="col-md-2 form-label"><%= form.label :tel, "電話番号" %></div>
  <div class="col-md-4">
    <div class="col-md-3" style="padding: 0; width: 60px;"><%= form.text_field :tel1, class: "form-control", maxlength: "4", type:"tel" %></div>
    <div class="col-md-1" style="padding: 0; padding-top: 5px; text-align: center;">-</div>
    <div class="col-md-3" style="padding: 0; width: 60px;"><%= form.text_field :tel2, class: "form-control", maxlength: "4", type:"tel" %></div>
    <div class="col-md-1" style="padding: 0; padding-top: 5px; text-align: center;">-</div>
    <div class="col-md-3" style="padding: 0; width: 60px;"><%= form.text_field :tel3, class: "form-control", maxlength: "4", type:"tel" %></div>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-2 form-label"><%= form.label :mail, "メールアドレス" %></div>
  <div class="col-md-8">
    <%= form.text_field :mail, id: "email", class: "form-control", type:"tel" %>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-2 form-label"><%= form.label :douki, "動機" %></div>
  <div class="col-md-10">
    <%= form.select :douki, Client::DOUKIES %>
  </div>
</div>
<div id="form-shoukaisha" class="row form-group" style="display: none;">
  <div class="col-md-2 form-label"><%= form.label :shoukaisha, "紹介者" %></div>
  <div class="col-md-4">
    <%= form.text_field :shoukaisha, class: "form-control" %>
  </div>
</div>
<div id="form-douki-etc"  class="row form-group" style="display: none;">
  <div class="col-md-2 form-label"><%= form.label :douki_etc, "動機　その他" %></div>
  <div class="col-md-8">
    <%= form.text_field :douki_etc, class: "form-control" %>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-2 form-label"><%= form.label :memo_client, "お客様用　メモ" %></div>
  <div class="col-md-8">
    <%= form.text_area :memo_client, class: "form-control" %>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-2 form-label"><%= form.label :memo_admin, "管理者用　メモ" %></div>
  <div class="col-md-8">
    <%= form.text_area :memo_admin, class: "form-control" %>
  </div>
</div>