<h4 style="float: left;">作成した顧客データの一覧です。</h4>
<div style="float: right;"><%= link_to "CSV出力", { :controller => "clients", :action => "csv_output" }, { :class => "btn btn-default" }  %></div>
<div style="float: right; margin-right: 10px;"><%= link_to "新規作成", { :controller => "clients", :action => "new" }, { :class => "btn btn-default" }  %></div>
<div style="clear:both;"></div>
<hr style="margin-top: 0; border: 1px solid black">
<table id="clients-list" class="table table-hover">
  <tr>
    <th>作成日時</th>
    <th>氏名</th>
    <th>住所</th>
    <th></th>
  </tr>
  <% @clients.each_with_index do |client, idx| %>
    <tr>
      <td><%= client.created_at.strftime('%Y/%m/%d %H:%M') %></td>
      <td><%= client.sei %>　<%= client.mei %></td>
      <td><%= client.address %></td>
      <td style="text-align: center">
        <%= link_to "編集", [:edit, client], { :class => "btn btn-default" } %>
      </td>
    </tr>
  <% end %>
</table>
<div style="text-align: center;">
  <%= will_paginate @clients, renderer: BootstrapPagination::Rails  %>
</div>
<hr style="border: 1px solid black; margin-top: 0;">
